*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/inter/v12/UcC73FwrK3iLTeHuS_fvQtMwCp50KnMa25L7W0Q5n-wU.woff2)
    format("woff2");
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB,
    U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/inter/v12/UcC73FwrK3iLTeHuS_fvQtMwCp50KnMa1ZL7W0Q5nw.woff2)
    format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
    U+FEFF, U+FFFD;
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/inter/v12/UcC73FwrK3iLTeHuS_fvQtMwCp50KnMa1ZL7W0Q5nw.woff2)
    format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
    U+FEFF, U+FFFD;
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/inter/v12/UcC73FwrK3iLTeHuS_fvQtMwCp50KnMa1ZL7W0Q5nw.woff2)
    format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
    U+FEFF, U+FFFD;
}

@font-face {
  font-family: "Source Code Pro";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/sourcecodepro/v22/HI_SiYsKILxRpg3hIP6sJ7fM7PqlPevWnsUnxg.woff2)
    format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
    U+FEFF, U+FFFD;
}

@font-face {
  font-family: "Source Code Pro";
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/sourcecodepro/v22/HI_SiYsKILxRpg3hIP6sJ7fM7PqlPevWnsUnxg.woff2)
    format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
    U+FEFF, U+FFFD;
}

html {
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  width: 100%;
  background-color: #1b1b1b;

  color: rgb(255, 255, 255);
  font-family: "Inter", sans-serif;
  font-size: 15px;
  font-weight: 400;
  line-height: 1.5;
}

.container {
  margin: 0 auto;
  max-width: 700px;
}

.text-align-center {
  text-align: center;
}

.box {
  background-color: rgb(52, 52, 52);
  padding: 5px 10px;
  border-radius: 5px;
  text-decoration: none;

  color: inherit;
  font-family: inherit;
  font-weight: 500;
  transition: color 250ms ease-in-out;
}

.box:hover,
.box:focus {
  color: rgb(140, 180, 255);
}

.box-span {
  background-color: rgb(52, 52, 52);
  padding: 3px 3px;
  border-radius: 3px;

  font-size: 14px;
  transition: color 250ms ease-in-out;
}

.box-span:hover,
.box-span:focus {
  color: rgb(140, 180, 255);
}

.bold {
  font-weight: 600;
  font-size: 16px;
}

.line {
  margin: 50px auto;
  max-width: var(--width, 700px);
  height: 2px;
  background-color: rgb(255, 255, 255);
}

.big {
  --width: 700px;
}

.small {
  --width: 600px;
}

.smaller {
  --width: 500px;
}

.more-info {
  font-size: 14px;
  font-weight: 300;
  opacity: 0.7;
}

/* Header Section */
.page-title {
  font-size: 40px;
  font-weight: 600;
  line-height: 1.2;
}

.subtitle {
  font-size: 14px;
  opacity: 0.7;
  font-weight: 300;
}

.section-tags ul {
  display: flex;
  justify-content: center;
  text-align: center;
  gap: 20px;
  list-style: none;
}

.section-tags a {
  text-decoration: none;
}

/* Head Section */
.section-title-container {
  text-align: center;
}

.section-title {
  font-size: 34px;
  font-weight: 600;
  line-height: 1.2;
}

/* Head Tags */
.tag-name {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.4;
}

.tag-code {
  font-size: 14px;
  display: flex;
  gap: 10px;
}

.tag-aside {
  max-width: 600px;
  margin: 20px auto;
  padding: 10px;

  background-color: rgba(0, 133, 242, 0.1);
  border: 1px solid rgb(105, 105, 105);
  border-left: 4px solid rgb(94, 158, 255);
  border-radius: 5px;

  font-size: 14px;
  font-weight: 300;
}

/* Meta */
.attribute-name {
  font-family: "Source Code Pro", monospace;
  font-size: 14px;
  font-weight: 600;
  color: rgb(140, 180, 255);
  background-color: rgb(52, 52, 52);

  padding: 2px 3px;
  border-radius: 2px;
  text-decoration: none;
}

.attribute-name:hover {
  text-decoration: underline;
}

.attribute-value {
  margin-left: 20px;
}

.attribute-value-name {
  font-family: "Source Code Pro", monospace;
  font-size: 14px;
  font-weight: 400;
  color: rgb(255, 255, 255);
  background-color: rgb(52, 52, 52);

  padding: 2px 3px;
  border-radius: 2px;
}

.attribute-value-text {
  margin-left: 20px;
}

.attribute-text {
  margin-top: 10px;
  padding-left: 20px;
}

.list-styling {
  display: flex;
  flex-direction: column;
  gap: 7px;
  padding-left: 50px;
  margin-top: 5px;
}

/* Table Styling */
table {
  width: 600px;
  margin: 0 auto;

  border-collapse: collapse;
  text-align: left;
}

th,
td {
  border: 1px solid rgb(133, 133, 133);
  padding: 10px 20px;
}

th {
  font-size: 16px;
  font-weight: 600;
}

.table-value {
  width: 25%;
}

thead tr {
  background-color: rgb(52, 52, 52);
}

tbody tr:nth-child(even) {
  background-color: rgb(52, 52, 52);
}

tbody tr:nth-child(odd) {
  background-color: #1b1b1b;
}

tbody tr:nth-child(even) .box-span {
  background-color: #1b1b1b;
}

/* Margin */
.margin-top-75 {
  margin-top: 75px;
}

.margin-top-50 {
  margin-top: 50px;
}

.margin-top-40 {
  margin-top: 40px;
}

.margin-top-30 {
  margin-top: 30px;
}

.margin-top-20 {
  margin-top: 20px;
}

.margin-top-10 {
  margin-top: 10px;
}

.bg-red {
  background-color: rgba(255, 42, 81, 0.1);
  border-left-color: rgb(175, 161, 0);
}

#main-section {
  min-height: 100vh;
  position: relative;
}

.to-be-continuing {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 80px;
  font-weight: 600;
}
